<section class="section">
  <div class="container">
    <aside>
      <div id="disqus_thread"></div>
    </aside>
    <script type="text/javascript">
      var disqus_shortname = '{{ .Site.DisqusShortname }}';
      console.log("loading disquss");
      (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + 'gangac.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
         rel="nofollow">comments powered by Disqus.</a>
    </noscript>
  </div>
</section>
<!-- <div id="disqus_thread"></div>
<script>
  (function () {
    var d = document, s = d.createElement('script');
    s.src = 'https://larnsce.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript> -->
